<div class="ui raised very padded text container segment">
  <h2 class="ui header">Sign-in</h2>
  <form class="ui form">
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" placeholder="Name" required>
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="email" placeholder="Email" required>
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div>
      <button class="ui button" type="submit">Sign-In</button>
      <button class="ui button" routerLink="login">Login</button>
    </div>
  </form>
</div>
