#logo{
  font-size: large;
}

#tagImage{
  background: url("https://images.unsplash.com/photo-1493134799591-2c9eed26201a?ixlib=rb-0.3.5&s=067dc5f5448414d8d3d7981a53e7d41d&auto=format&fit=crop&w=750&q=80");
  height: 550px;
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  color: #272727;
  background-size: cover;
}
