<div class="ui stackable secondary menu" id="menuBar">
  <div class="item" id="logo">Job Hunt</div>
  <a class="item" routerLink="">Home</a>
  <a class="item" routerLink="jobs">Jobs</a>
  <a class="item" routerLink="userfire">User Details</a>
  <a class="item" routerLink="forecast">Weather</a>
  <a class="item" routerLink="flights">Flights</a>
  <div class="right menu">
    <div class="ui input item">
      <input type="text" placeholder="Search...">
    </div>
    <a class="item" routerLink="sign-in">Sign-in</a>
    <a class="item" routerLink="login">Log-in</a>
  </div>
</div>
<router-outlet></router-outlet>
