
<div *ngIf="users?.length > 0; else noUsers">
  <div class="ui container segmented centered">
    <ul *ngFor="let user of users" class="ui segmented container">
      <div (dblclick)="deleteUser($event, user)">
        <div class="right floated ">
          <div class="ui compact segment">
        <div class="ui middle aligned animated list">
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              <div ><strong>Name : </strong>{{user.name}}</div>
              <div ><strong>Email ID : </strong> {{user.email}}</div>
              <div ><strong>Contact : </strong>{{user.phone}}</div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>






<ng-template #noUsers>
  <div class="ui centered container">
    <h1>No Users found!!</h1>
  </div>
</ng-template>

<div class="ui container">
  <app-add-user></app-add-user>
</div>
